@model GithubPullTracker.Models.PullRequestView
@{
    ViewBag.FullWidth = true;

}
<div class="title-bar">

    <h1><a href="~/@Model.RepositoryOwner">@Model.RepositoryOwner</a> /<a href="~/@Model.RepositoryOwner/@Model.RepositoryName">@Model.RepositoryName</a></h1>
    <h2>@Model.Title <span>#@Model.Number</span></h2>
    <a href="~/@Model.RepositoryOwner/@Model.RepositoryName/pull/@Model.Number" id="details-link">details</a>
</div>

<div id="splitter">
    <div>
        <div id="tree">

        </div>
    </div>
    <div id="file_diff">

    </div>
</div>

@section scripts{
    <style id="mergeHeight">
        .CodeMirror-merge {
            height: auto;
        }
    </style>
    <script>


        

        diffViewScript('@Model.CurrentFile', '@Model.HeadSha', '@Url.Action("ViewPullRequest")')

    </script>
}