<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Title ?? "Pull Tracker")</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Icons/apple-touch-icon.png?v=QE5JNWwklM">
    <link rel="icon" type="image/png" href="/Content/Icons/favicon-32x32.png?v=QE5JNWwklM" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/Icons/favicon-16x16.png?v=QE5JNWwklM" sizes="16x16">
    <link rel="manifest" href="/Content/Icons/manifest.json?v=QE5JNWwklM">
    <link rel="mask-icon" href="/Content/Icons/safari-pinned-tab.svg?v=QE5JNWwklM" color="#000000">
    <link rel="shortcut icon" href="/Content/Icons/favicon.ico?v=QE5JNWwklM">
    <meta name="apple-mobile-web-app-title" content="Pull Tracker">
    <meta name="application-name" content="Pull Tracker">
    <meta name="msapplication-config" content="/Content/Icons/browserconfig.xml?v=QE5JNWwklM">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/SiteCss")
    @{

        var user = ViewData["__CurrentUser__"] as GithubPullTracker.Models.GithubUser;
    }

</head>
<body>
    <div class="navbar">
        <div class="container">

            <a href="~/" class="navbar-brand"> <i class="icon icon-logo"></i> Pull Tracker</a>
            @if (user != null)
            {
                <div class="user">
                    <span class="avatar"><img src="@user.AvartarUrl&s=40" /><i class="icon icon-chevron-down"></i></span>
                    <ul class="dropdown">
                        <li><span>Signed in as <em>@user.UserName</em></span></li>

                        <li><a href="~/logout">Sign out</a></li>

                    </ul>
                </div>
            }
            else
            {
                <a class="button" href="~/login/github">Sign in with github <i class="icon icon-mark-github"></i></a>
            }
        </div>
    </div>
    @{
        var bodyClass = "container";
        if (ViewBag.FullWidth == true)
        {
            bodyClass = "container-fluid";
        }
    }
    @if (IsSectionDefined("header"))
    {
        <div class="header-content">
            <div class="container ">
                @RenderSection("header")
            </div>
        </div>
    }


    <div class="@bodyClass body-content">
        @RenderBody()
    </div>

    <footer>
        &copy; @DateTime.Now.Year Fated Creations.

    </footer>


    @Scripts.Render("~/Scripts/SiteJs")
    <script>
        CodeMirror.modeURL = "/Scripts/mode/%N/%N.js";
    </script>


    @*<script src="~/Scripts/mergely.js"></script>*@
    @RenderSection("scripts", false)
</body>
</html>