@model GithubPullTracker.Models.PullRequestView
<div class="title-bar">
    <h2>@Model.Title <span>#@Model.Number</span></h2>
    <div>

        <span class="prstatus-open">Open</span> <a href="https://github.com/@Model.CreatedBy.Login" target="_blank">@Model.CreatedBy.Login</a> wants to merge @Model.Commits into <span class="branchname" title="@Model.BaseNameFull">@Model.BaseName</span> from <span class="branchname" title="@Model.HeadNameFull">@Model.HeadName</span>

    </div>
    </div>
<div class="tab-bar">
    <nav class="tabs">

            <a href="@Url.Action("ViewPullRequest")" class="@(Model is PullRequestCommentsView ? "selected" : "")"><i class="icon icon-comment-discussion icon-outline"></i>Convertsation <span class="badge">@Model.Comments</span></a>
            <a href="@Url.Action("ViewFiles")"  class="@(Model is PullRequestFileView ? "selected" : "")"><i class="icon icon-file-text"></i>Files changed <span class="badge">@Model.Files</span></a>
        <a href="http://github.com/@Model.RepositoryOwner/@Model.RepositoryName/pull/@Model.Number" target="_blank" class="right">view on github</a>
    </nav>
</div>