@model GithubPullTracker.Models.PullRequestView


<div class="header-content">
    <div class="container ">
        <div class="title-bar">
            <h1><i class="icon icon-repo"></i><a class="owner" href="~/@Model.RepositoryOwner">@Model.RepositoryOwner</a> / <a class="repo" href="~/@Model.RepositoryOwner/@Model.RepositoryName">@Model.RepositoryName</a></h1>
        </div>

    </div>
</div>
<div class="title-bar">
    <section>
        <h2>@Model.Title <span>#@Model.Number</span></h2>
        <div>

            @if (Model.MergedAt.HasValue)
            {

                <text>
                    <span class="prstatus-merged">Merged</span>
                    <a href="@Model.MergedBy.html_url" target="_blank" class="user">@Model.MergedBy.login</a> merged @Model.Commits into <span class="branchname" title="@Model.BaseNameFull">@Model.BaseName</span> from <span class="branchname" title="@Model.HeadNameFull">@Model.HeadName</span>
                    <time datetime="@Model.MergedAt.Value.ToString("o")">@Model.MergedAt.Value.ToString()</time>
                </text>


            }
            else if (Model.ClosedDate.HasValue)
            {

                <text>
                    <span class="prstatus-closed">Closed</span>
                    <a href="@Model.ClosedBy.html_url" target="_blank" class="user">@Model.ClosedBy.login</a> merged @Model.Commits into <span class="branchname" title="@Model.BaseNameFull">@Model.BaseName</span> from <span class="branchname" title="@Model.HeadNameFull">@Model.HeadName</span>
                </text>


            }
            else
            {

                <text>
                    <span class="prstatus-opened">Open</span>
                    <a href="@Model.CreatedBy.html_url" target="_blank" class="user">@Model.CreatedBy.login</a> wants to merge  @Model.Commits into <span class="branchname" title="@Model.BaseNameFull">@Model.BaseName</span> from <span class="branchname" title="@Model.HeadNameFull">@Model.HeadName</span>
                </text>
            }



        </div>
    </section>
    <aside>
        
            @if (Model.CanApprove)
            {
                <div class="approvals">
                    <form action="@Url.Action("Approve")" method="post">
                        <input type="hidden" name="approved" value="@((!Model.HasUserApproved).ToString())" />
                        <input type="hidden" name="headsha" value="@(Model.HeadSha)" />
                        @if (this.ViewContext.RouteData.Values.ContainsKey("path"))
                        {
                            <input type="hidden" name="path" value="@(this.ViewContext.RouteData.Values["path"])" />
                        }
                        @if (Model.HasUserApproved)
                        {
                            <button class="unapprove"><i class="icon icon-x"></i>unapprove</button>
                        }
                        else
                        {
                            <button class="approve"><i class="icon icon-check"></i>approve</button>
                        }
                    </form>
                </div>
            }
    </aside>
</div>
<div class="tab-bar">
    <nav class="tabs">

        <a href="@Url.Action("ViewPullRequest")" class="@(Model is PullRequestCommentsView ? "selected" : "")"><i class="icon icon-comment-discussion icon-outline"></i>Conversation <span class="badge">@Model.Comments</span></a>
        <a href="@Url.Action("ViewFiles")" class="@(Model is PullRequestFileView ? "selected" : "")"><i class="icon icon-file-text"></i>Files changed <span class="badge">@Model.Files</span></a>
        <a href="http://github.com/@Model.RepositoryOwner/@Model.RepositoryName/pull/@Model.Number" target="_blank" class="right">view on github</a>
    </nav>
</div>