@model GithubPullTracker.Models.PullRequestCommentsView
@{

    ViewBag.Title = Model.Title + " by " + Model.CreatedBy.login + " · Pull Request #" + Model.Number + " · " + Model.RepositoryOwner + "/" + Model.RepositoryName;

}
@section header
{
    <div class="title-bar">
        <h1><i class="icon icon-repo"></i><a class="owner" href="~/@Model.RepositoryOwner">@Model.RepositoryOwner</a> / <a class="repo" href="~/@Model.RepositoryOwner/@Model.RepositoryName">@Model.RepositoryName</a></h1>
    </div>
}
@Html.Partial("PullRequestHeader")

        <div id="home">
            <div class="main-comment" id="description">
                <a href="@Model.CreatedBy.html_url" target="_blank" class="user">
                    <img src="@(Model.CreatedBy.avatar_url)&s=40" class="avatar" alt="@Model.CreatedBy.login" />
                </a>
                <div class="comment">
                    <div class="header">
                        <a href="@Model.CreatedBy.html_url" target="_blank">@Model.CreatedBy.login</a> commented <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt</time>
                    </div>


                    @if (string.IsNullOrWhiteSpace(Model.Details))
                    {
                        <div class="markdown">
                            <em>No description provided.</em>
                        </div>
                    }
                    else
                    {
                        <div class="markdown">@Html.Raw(Model.Details)</div>
                    }
                </div>

            </div>

                @foreach (var evnt in Model.Events)
                {
                    @Html.DisplayFor(c=>evnt)
                }

        </div>

<aside id="sidebar">
    <section>
        <h3>Assignee</h3>
        @if (Model.Assignee != null)
        {
            <a href="@Model.Assignee.html_url">
                <img src="@(Model.Assignee.avatar_url)&s=40" alt="@Model.Assignee.login" />
                @Model.Assignee.login
            </a>
        }
        else
        {
            <span>Unassigned</span>
        }
    </section>
</aside>



        

<script type="x-template" id="home-comment-template">
    @Html.Partial("_MainCommentTemplate")
</script>
<script type="x-template" id="home-file-comment-template">
    @Html.Partial("_MainFileCommentTemplate")
</script>
<script type="x-template" id="inline-file-comment-template">
    @Html.Partial("_InlineFileCommentTemplate")
</script>



@section scripts{
    <style id="mergeHeight">
        .CodeMirror-merge {
            height: auto;
        }
    </style>
    <script>
        window.repocontext = '@(Model.RepositoryOwner)/@(Model.RepositoryName)';



        @*diffViewScript('@Model.CurrentFile', '@Model.HeadSha', '@Url.Action("ViewPullRequest")', @Html.Raw(Model.TreeData.ToString()), '@Model.RepositoryOwner','@Model.RepositoryName')*@

    </script>
}