@model GithubPullTracker.Models.PullRequestCommentsView
@{

    ViewBag.Title = Model.Title + " by " + Model.CreatedBy.Login + " · Pull Request #" + Model.Number + " · " + Model.RepositoryOwner + "/" + Model.RepositoryName;

}
@section header
{
    <div class="title-bar">
        <h1><i class="icon icon-repo"></i><a class="owner" href="~/@Model.RepositoryOwner">@Model.RepositoryOwner</a> / <a class="repo" href="~/@Model.RepositoryOwner/@Model.RepositoryName">@Model.RepositoryName</a></h1>
    </div>
}
@Html.Partial("PullRequestHeader")

        <div id="home">
            <div class="main-comment" id="description">
                <a href="https://github.com/@Model.CreatedBy.Login" target="_blank" class="user">
                    <img src="@(Model.CreatedBy.AvatarUrl)&s=40" class="avatar" alt="@Model.CreatedBy.Login" />
                </a>
                <div class="comment">
                    <div class="header">
                        <a href="https://github.com/@Model.CreatedBy.Login" target="_blank">@Model.CreatedBy.Login</a> commented <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt</time>
                    </div>


                    @if (string.IsNullOrWhiteSpace(Model.Details))
                    {
                        <div class="markdown">
                            <em>No description provided.</em>
                        </div>
                    }
                    else
                    {
                        <div class="markdown apply-md">@Model.Details</div>
                    }
                </div>

            </div>

                @foreach (var evnt in Model.Events)
                {
                    var fileComment = evnt.Item as GithubPullTracker.Models.FileComment;
                    var issueComment = evnt.Item as GithubPullTracker.Models.Comment;
                    var commit = evnt.Item as GithubPullTracker.Models.Commit;
                    if (issueComment != null)
                    {
                        <div class="main-comment event">
                            <a href="https://github.com/@issueComment.CreatedBy.Login" target="_blank" class="user">
                                <img src="@(issueComment.CreatedBy.AvatarUrl)&s=40" class="avatar" />
                            </a>
                            <div class="comment">
                                <div class="header">
                                    <a href="https://github.com/@(@issueComment.CreatedBy.Login)" target="_blank">@(@issueComment.CreatedBy.Login)</a> commented <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time>
                                </div>
                                <div class="markdown apply-md">@issueComment.Body</div>
                            </div>
                        </div>
                    }
                    else if (fileComment != null)
                    {
                        <div class="file-comment-list event">
                            <div class="file-diff comment">
                                <div class='header'>
                                    @fileComment.Path
                                    @{
                                        var lineRef = "";
                                        if (fileComment.TargetLineNumber.HasValue)
                                        {
                                            lineRef = "t-" + fileComment.TargetLineNumber.ToString();
                                        }
                                        else if (fileComment.SourceLineNumber.HasValue)
                                        {
                                            lineRef = "s-" + fileComment.SourceLineNumber.ToString();
                                        }
                                    }
                                    <a href="@Url.Action("ViewFiles", new { path = fileComment.Path })#@lineRef" data-naviagetetree="@fileComment.Path#@lineRef">View full file</a>
                                </div>
                                <div class="patch apply-patch">@fileComment.Patch</div>
                            </div>

                            @foreach (var b in evnt.ItemsOf<GithubPullTracker.Models.FileComment>())
                            {
                                <div class="comment ">
                                    <div class="header">
                                        <a href="https://github.com/@b.CreatedBy.Login" target="_blank">
                                            <img src="@b.CreatedBy.AvatarUrl&s=40" class="avatar" />
                                        </a>
                                        <a href="https://github.com/@b.CreatedBy.Login" target="_blank">@b.CreatedBy.Login</a> commented <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time>
                                    </div>
                                    <div class="markdown  apply-md">@b.Body</div>
                                </div>
                            }
                        </div>
                                            }
                                        }


        </div>

<aside id="sidebar">
    <section>
        <h3>Assignee</h3>
        @if (Model.Assignee != null)
        {
            <a href="https://github.com/@Model.Assignee.Login">
                <img src="@(Model.Assignee.AvatarUrl)&s=40" alt="@Model.Assignee.Login" />
                @Model.Assignee.Login
            </a>
        }
        else
        {
            <span>Unassigned</span>
        }
    </section>
</aside>



        

<script type="x-template" id="home-comment-template">
    @Html.Partial("_MainCommentTemplate")
</script>
<script type="x-template" id="home-file-comment-template">
    @Html.Partial("_MainFileCommentTemplate")
</script>
<script type="x-template" id="inline-file-comment-template">
    @Html.Partial("_InlineFileCommentTemplate")
</script>



@section scripts{
    <style id="mergeHeight">
        .CodeMirror-merge {
            height: auto;
        }
    </style>
    <script>
        window.repocontext = '@(Model.RepositoryOwner)/@(Model.RepositoryName)';



        @*diffViewScript('@Model.CurrentFile', '@Model.HeadSha', '@Url.Action("ViewPullRequest")', @Html.Raw(Model.TreeData.ToString()), '@Model.RepositoryOwner','@Model.RepositoryName')*@

    </script>
}