@model TimelineEventCommit



<div class="event">
    <i class="icon icon-repo-push"></i> <a href="@Model.CreatedBy.html_url" target="_blank" class="user">@Model.CreatedBy.login</a> added some commits <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time>
</div>
<div class="commit-list">
    
    @foreach (var b in Model.Items)
    {
        <div class="commit ">
            <i class="icon icon-git-commit"></i>

                <a href="@b.author.html_url" target="_blank">
                    <img src="@(b.author.avatar_url)&s=40" class="avatar" />
                </a>
                <a class="message" >@b.commit.message</a>
                <a class="sha" title="@b.sha">@b.sha.Substring(0,7)</a>
            </div>
    }
</div>