@model TimelineEventOther
@{
    var added = Model.Items.Where(x => x.EventType == "labeled").Select(x => new { x.label.name, x.label.color }).Distinct(); ;
    var removed = Model.Items.Where(x => x.EventType == "unlabeled").Select(x => new { x.label.name, x.label.color }).Distinct(); ;
    var showAnd = added.Any() && removed.Any();
}



<div class="event">
    <i class="icon icon-tag"></i> <a href="@Model.CreatedBy.html_url" target="_blank" class="user">@Model.CreatedBy.login</a>
    @if (added.Any())
    {
        <text>added
        @if (!showAnd)
        {
            <text>the</text>
        }
            @foreach (var e in added)
            {
                <span class="label" style="background-color:#@e.color">@e.name</span>
            }
        </text>
    }

    @if (showAnd)
    {
        <text>and</text>
    }
    @if (removed.Any())
    {
        <text>removed
    @if (!showAnd)
    {
        <text>the</text>
    }
            @foreach (var e in removed)
            {
                <span class="label" style="background-color:#@e.color">@e.name</span>
            }
        </text>
    }
    @if (showAnd)
    {
        <text>labels</text>
    }
    else
    {
        <text>label</text>
    }

    <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time>
</div>