@model TimelineEventCommitComment
@{ 
    var fileDetails = Model.Items.First();

}
    @if (Model.OutdatedFile)
    {
        <div class="event">
            <i class="icon icon-check"></i> <a href="@Model.Item.user.html_url">@Model.Item.user.login</a> commented  an outdateded file <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time> <a href="#">Show @Model.Items.Count() @(@Model.Items.Count() > 1 ?"comments" : "comment")</a>

        </div>  
    }
    else
    {
            <div class="event">
                <i class="icon icon-chevron-right"></i> <a href="@Model.Item.user.html_url">@Model.Item.user.login</a> commented on the file <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time>

            </div> 
    }
@{
    var extraclass = "";
    if (Model.OutdatedFile)
    {
        extraclass = "hidden";
    }
}
<div class="file-comment-list @extraclass" id="filelist_@Model.Item.id">
    <div class="file-diff comment">
        <div class='header'>
            @fileDetails.path
            <a href="@Url.Action("ViewFiles", new { path = fileDetails.path })#p-@fileDetails.position" data-naviagetetree="@fileDetails.path#p-@fileDetails.position">View full file</a>
        </div>
        <div class="patch apply-patch">@fileDetails.diff_hunk</div>
    </div>

    @foreach (var b in Model.Items)
    {
        <div class="comment ">
            <div class="header">
                <a href="@b.user.html_url" target="_blank">
                    <img src="@(b.user.avatar_url)&s=40" class="avatar" />
                </a>
                <a href="@b.user.html_url" target="_blank">@b.user.login</a> commented <time class="timeago" datetime="@b.created_at.ToString("o")">@b.created_at.ToString()</time>
            </div>
            <div class="markdown">@Html.Raw(b.body_html)</div>
        </div>
    }
</div>